@model Rdio.ViewModel.News.ServiceVM
@{
    ViewBag.Title = Model.Category.title;
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="col-md-3">
    @{
        var Block = Model.BlockNews.FirstOrDefault(q => q.Block.code == "LATESTNEWS");
        if (Block != null && Block.News.Any())
        {
            @Html.Partial("_block1", Block.News.ToList(), new ViewDataDictionary { { "BlockTitle", Block.Block.title } })
        }
    }
</div>

<div class="col-md-6">
    @foreach (var item in Model.BlockNews.Where(q => q.Block.code == "TOP"))
    {
        Block = item;
        if (Block != null && Block.News.Any())
        {
            <div class="row hometopblock">
                <div class="category-Title"><a href="@Url.Action("Service", "News", new {CategoryId = item.Category._id})">@item.Category.title</a></div>
                <div class="col-md-6">@Html.Partial("_TopNews1", Block.News.FirstOrDefault())</div>
                <div class="col-md-6">@Html.Partial("_NewsList2", Block.News.Skip(1).ToList())</div>
            </div>
        }
    }
   
    <hr />
    <div class="row">@Html.Partial("_aparatVideoBlock",Model.AparatVideos , new ViewDataDictionary { { "BlockTitle","ویدئو های کانال" } })</div>
    
</div>
<div class="col-md-3">
    <div class="bs-example bs-example-tabs">
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">زمانبدی لیگ ها</a></li>
            <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">جدول لیگ ها</a></li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" role="tabpanel" id="home" aria-labelledby="home-tab">
                @foreach (var item in Model.FootbalLeguesFixture)
                {
                    @Html.Partial("../Legue/_FotbalLegueFixture", item)
                }
            </div>
            <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                @foreach (var item in Model.FootbalLegues)
                {
                    @Html.Partial("../Legue/_FotbalLegueTable", item)
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Rdio.News.Event.GetCategories();
    });
</script>

